<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Simulator Web Application</display-name>

    <servlet>
        <servlet-name>driver</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:META-INF/spring/driver/applicationContext.xml</param-value>
        </init-param>
        <init-param>
            <param-name>globalInitializerClasses</param-name>
            <param-value>org.salgar.configuration.initialisation.ConfigurationServerPropertySourceInitializer</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>driver</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>